/* porfolio*/
.celda {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.celda img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.celda h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

/*formulario*/
#contacto{
    background-color: rgb(236, 203, 14);
    color: rgb(239, 240, 234);
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 12px;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


#contanto h2 {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
}

form input, form textarea {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: black;
}

form button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem;
    background: #e99324;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}
form button:hover {
    background: #b71c1c;
}

form label {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: block;
    color: white;
}

form input, form textarea {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: black;
}








.foto img{
width: 20px;
height: auto;

}
.foto2 img{
    width: 150px;
    height: auto;
    
}

.logo img{
    width: 80px;
    height: auto;
}
/* Gonzalo Arranz Alonso*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(236, 203, 14);
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #121414;
    color: #333;
    text-align: center;
    padding: 20px;
}

/* Encabezado */
header {
    background-color: #353629;
    color: rgb(71, 65, 39);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    
   
}

nav ul li {
   
    margin: 0 1rem;
}

nav ul li a {
    color: rgb(236, 232, 210);
    text-decoration: none;
    font-weight: bold;
}

/* Contenido */
.hero {
    margin: 20px;
    padding: 20px;
    background: rgb(52, 56, 11);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(96, 102, 17, 0.1);
}

.hero h2 {
    font-size: 3rem;
    position: relative;
    top: 0px;
    color: beige;
}

.hero p {
font-family: 'Times New Roman', Times, serif;
font-size: 1.5rem;
position: relative;
top:25px;
margin-bottom: 2rem;
color: #ccc;
}

.hero 

/* Footer */
footer {
    margin-top: 3rem;
    padding: 1rem;
    background: #333;
    color: rgb(29, 24, 24);
}
